*.dll
*.exe
*.ipch
*.sdf
*.ncb
*.suo
*.tlog
*.obj
*.res
*.rc
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.opensdf
*.user.*
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
work/
binaries/
intermediate/
screenshots/
output/
assets/